/* 
    The designs were created to the following widths:

    - Mobile: 375px
    - Desktop: 1440px
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --natural-pale-blue: hsl(225, 100%, 98%);
    --natural-desaturated-blue:  hsl(224, 23%, 55%);
    --natural-dark-blue: hsl(223, 47%, 23%); 
    --body-color: hsl(225, 100%, 94%);
    --box-shadow: hsl(245deg 75% 52% / 18%);
    --hover-shadow: hsla(245, 83%, 68%, 18%);
    --hover-color: #766cf1;
}
body {
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    height: 100vh;
    background-color: var(--body-color);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 28.125rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 1.25rem;
    overflow: hidden;
}
.head {
    margin-top: 1.875rem;
    margin-bottom: 0.938rem;
    font-size: 1.563rem;
    color: var(--natural-dark-blue);
    font-weight: 900;
}
.description {
    font-size: 1rem;
    width: 340px;
    margin: auto;
    line-height: 1.563rem;
    color: var(--natural-desaturated-blue);
}
.cridet {
    width: 360px;
    margin: auto;
    margin-bottom: 1.563rem;
    margin-top: 1.563rem;
    padding: 20px;
    background-color: var(--natural-pale-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.cridet .info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.cridet .info .name {
    color: var(--natural-dark-blue);
    font-weight: 900;
}
.cridet .info .money {
    color: var(--natural-desaturated-blue);
    font-weight: 700;
}
.cridet .change{
    width: 100%;

}
.cridet .change a{
    float: right;
    color: var(--primary-bright-blue);
    font-weight: 700;
    font-size: 14px;
}
.cridet .change a:hover {
    text-decoration: none;
    color: var(--hover-color);
    transition: all .5s;
}

.btn-1 {
    width: 360px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--primary-bright-blue);
    cursor: pointer;
    box-shadow: 0 15px 12px 0px var(--box-shadow);
    transition: all .5s;
}
.btn-1:hover {
    background-color: var(--hover-color);
    box-shadow: 0 15px 12px 0px var(--hover-shadow);
}
.btn-2 {
    color: var(--natural-desaturated-blue);
    background-color: inherit;
    border: none;
    margin-bottom: 40px;
    font-weight: 700;
    cursor: pointer;
}